<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
    <script src="/js/contact.js"></script>

    <body>
        <%- include('../partials/header.ejs') %>

        <div class="container">
            <form action="/contact/send-mail" class="contact-form" method="POST">
            <h3>Formulario de contacto</h3>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" required rows="6"></textarea>
                <button type="submit" id="btn-send">Enviar</button>
            </form>
        </div>

    </body>

    <%- include('../partials/footer.ejs') %>

</html>