<footer>
    <div class="footer-container">
        <div class="footer-section">
            <a href="/">
                <img src="/img/logo-head-2.png" alt="">
            </a>
                <p>Únete a nuestra comunidad de amantes de las bebidas. Compartimos con vos nuestra pasión por los sabores auténticos. Desde las bodegas familiares hasta las marcas más icónicas, tenemos todo lo que necesitas para disfrutar de una experiencia única.</p>
        </div>
        <div class="footer-section">
            <h3>CATEGORIAS</h3>
            <ul>
                <li><a href="/products/search/cerveza">Cervezas</a></li>
                <li><a href="/products/search/vino">Vinos</a></li>
                <li><a href="/products/search/promos">Promociones</a></li>
                <li><a href="/products/search/recomendados">Recomendados</a></li>
                <li><a href="/products/search/ofertas">Ofertas</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>QUICK LINKS</h3>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/contact">Contactanos</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2024 All Rights Reserved by <a href="#">Grupo02</a>.</p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>