<footer>
    <br>
    <div class="redes">
        <h3>Seguinos en redes sociales</h3>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-x-twitter"></i>

    </div>
</footer>