<header>
    <div class="header-top">
        <div class="header_logo">
            <a href="/"><img src="/img/logo-head-2.png" alt="Logo de Bebidas Bien Heladas"></a>
        </div>
        <nav class="header-navbar">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/users/login">Ingresar</a></li>
                <li><a href="/users/register">Crear cuenta</a></li>
                <li><a href="/products/cart">Carrito</a></li>
                <li><a href="/products">Nuestos vinos</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <form class="header-form">
                <input type="text" placeholder="Buscar productos.">
                <a href="#"><i class="fas fa-search"></i></a>
            </form>
        </div>
    </div>
    </div>
</header>