<header>
    <div class="header-top">
        <div class="header_logo">
            <a href="/"><img src="/img/logo-head-2.png" alt="Logo de Bebidas Bien Heladas"></a>
        </div>
        <nav class="header-navbar">
            <% if (!locals.isLogged) { %>

                <ul>    
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/users/login">Ingresar</a></li>
                    <li><a href="/users/register">Crear cuenta</a></li>
                </ul>

            <% } else { %>

                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products">Nuestos vinos</a></li>
                    <li><a href="/products/cart">Carrito</a></li>
                    <li><a href="/users/logout">Cerrar Sesion</a></li>
                </ul>
                
                <% } %>
            </nav>
            <div class="search-bar">
                <form class="header-form">
                    <input type="text" placeholder="Buscar productos" id="input-search">
                    <a href="#"><i class="fas fa-search" id="search"></i></a>
                </form>
            </div>
            <% if (locals.isLogged) { %>
                <div class="navbar-user">
                    <a href="/users/profile"><img src="<%= locals.userLogged.image %>" alt="Avatar" class="user-avatar"></a>
                    <span class="user-name"><%- locals.userLogged.firstName %></span>
                  </div>
            <% } %>
    </div>
    </div>
</header>