<header>
    <div class="header-top">
        <!-- el logo linkea al / (inicio) -->
        <a href="/"><img class="header-logo" src="img/logo-head.png" alt="BF-logo"></a>
        <div class="header-search">
            <form class="header-search_form" action="#">
                <input placeholder="Buscar productos..." type="text"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </form>
        </div>
        <nav>
            <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-user"></i></a></li>
            <li><a href="/productCart">Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
        </nav>
    </div>
</header>