*.pdf
/node_modules
/data/wines.json
data/wines.json
backup.json
/data/backup.json
/database/config/config.js
database/config/config.js
config.js
public/images/products/*.jpg
public/images/products/*.jfif