<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bien-Heladas wines&drinks | Home</title>
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <header>
        <div class="header-top">
            <img class="header-logo" src="./public/img/logo-head.png" alt="BF-logo">
            <div class="header-search">
                <form class="header-search_form" action="#">
                    <input placeholder="Buscar productos..." type="text"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </form>
            </div>
        </div>
    </header>
    <section class="articleDetail">

        <img src="./public/img/vino-uno.jpg" alt="Vino 1">
        
        <div class="Detail">
            <h3>Vino Tinto Reserva</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quisquam harum, numquam pariatur hic sed ad mollitia exercitationem amet laudantium doloribus, obcaecati tempore nemo omnis mag</p>
            <p>$5000</p>
     </section>
    </div>
</body>

<footer>
    <div class="redes">
        <h3>Seguinos en redes sociales</h3>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-x-twitter"></i>

    </div>
</footer>
</html>