<!DOCTYPE html>
<<<<<<< HEAD
<html lang="es">
=======
<html lang="en">
>>>>>>> 45f835ce0e309288b004a1731fbbb5c599158b97
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Acordarse de modificar la ruta del css cuando creemos la ruta statica -->
     <link rel="stylesheet" href="../public/styles/styles.css">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <section class="back">
        <button>
            << 
        </button>
    </section>
    <section class="form-container">
        <h2>
            Recuperar Contraseña
        </h2>
        <form action="/recuperarContraseña" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>