<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bien-Heladas wines&drinks | Home</title>
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="stylesheet" href="/public/styles/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <header>
        <div class="header-top">
            <img class="header-logo" src="./public/img/logo-head.png" alt="BF-logo">
            <div class="header-search">
                <form class="header-search_form" action="#">
                    <input placeholder="Buscar productos..." type="text"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </form>
            </div>
        </div>
        
    </header>

    <main class="registro">
        <form action="/" method="POST">
            <input type="text" name="name" placeholder="Nombre y apellido" minlength="4" maxlength="15" required>
            <span class="error errorname">Este campo es obligatorio</span>
            <input type="text" name="user" placeholder="Nombre de usuario" minlength="8" maxlength="16" required>
            <span class="error errorusuario">Este campo es obligatorio</span>
            <input type="email" name="email" placeholder="E-mail" required>
            <span class="error erroremail">Usá el formato nombre@ejemplo.com.</span>
            <br>
            <h4>Elegí tu foto de usuario</h4>
            <input type="file" name="avatar" accept=".jpg .png">
            <br>
            <br>
            <h4>Nueva contraseña</h4>
            <input type="password" name="pass" placeholder="Elegí tu contraseña" required>
            <span class="errorPasword">Ingresá nuevamente la contraseña.</span>
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" required>
            <br>
            <br>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
            <br>
            <br>
        </form>
    </main>
</body>

<footer>
    <div class="redes">
        <h3>Seguinos en redes sociales</h3>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-x-twitter"></i>

    </div>
</footer>
</html>