<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Acordarse de modificar la ruta del css cuando creemos la ruta statica -->
    <link rel="stylesheet" href="../public/styles/styles.css">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <section class="back">
        <button>
            << 
        </button>
    </section>
    <section class="form-container">
        <h2>
            Restablecer Contraseña
        </h2>
        <form action="/restablecerContraseña" method="post">
            <label for="password">Nueva Contraseña</label>
            <input type="password" name="password" id="password" required minlength="6">
            <label for="repassword">Repetir contraseña</label>
            <input type="password" name="repassword" id="repassword" required minlength="6">
            <button type="submit">Restablecer</button>
        </form>
    </section>
</body>
</html>