footer {
  background-color: #2d2d2d;
  border-radius: 10px 10px 0 0 ;
  padding: 40px 20px;
  color: #ddd;
  margin: 4rem auto 0;
  width: 90%;
  height: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  max-width: 20%;
  margin: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #444;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.footer-bottom p a {
  color: #4da3ff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-bottom p a:hover {
  color: #fff;
}

.social-icons a {
  color: #aaa;
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

footer img {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}