* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f8f8f7;
    padding: 10px 16px 6px 16px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    flex: 1;
}

.header_logo img {
    max-height: 100px;
}

.header-navbar {
    flex: 2;
    display: flex;
    justify-content: center;
}

.header-navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-navbar ul li {
    margin: 0 10px;
}

.header-navbar ul li a {
    text-decoration: none;
    color: black;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    padding: 10px;
}

.header-navbar ul li a:hover {
    background-color: rgb(238, 225, 47);
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.header-form {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.header-form input {
    width: calc(100% - 40px);
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.header-form input:focus {
    outline-color: #1259c3;
}

.header-form a {
    text-decoration: none;
    color: #666;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-form a i {
    margin: 3px;
    padding: 9px;
    background-color: white;
    border-radius: 5px;
}

.header_menu {
    display: none;
}

nav a:hover {
    color: var(--hover-color);
}

@media (min-width: 769px) {
    .header-navbar {
        display: flex;
    }

    .header_menu {
        display: none;
    }

    .header_logo {
        width: auto;
    }

    .search-bar {
        width: auto;
        max-width: 300px;
    }

    .header-form {
        width: 100%;
        max-width: 300px;
    }
}