<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
<%- include('../partials/header.ejs') %>

    <div class="container">
        <h1>Iniciar sesión</h1>
        <form action="/login" method="post">
          <label for="username">Usuario:</label>
          <input type="text" id="username" name="username" required>
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required>
          <!-- <div class="checkbox">
            <input type="checkbox" id="rememberMe" name="rememberMe">
            <label for="rememberMe">Recordarme</label>
          </div> -->
          <button type="submit">Iniciar sesión</button>
          <a href="#" id="forgotPassword">¿Olvidaste tu contraseña?</a>
        </form>
      </div>

      <%- include('../partials/footer.ejs') %>
</body>
</html>