<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>


            <main class="form-section">
                    <div class="container">
                        <h2>
                            Recuperar Contraseña
                        </h2>
                        <form action="/users/sendforgotpasswordemail" method="post">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required>
                            <input type="submit" value="Enviar"></input>
                        </form>

                    </div>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>
    <script src="/js/forgotPassword.js"></script>

</html>