<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
<%- include('../partials/header.ejs') %>

    <section class="back">
        <button>
            << 
        </button>
    </section>
    <section class="form-container">
        <h2>
            Recuperar Contraseña
        </h2>
        <form action="/recuperarContraseña" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Enviar</button>
        </form>
    </section>

    <%- include('../partials/footer.ejs') %>
</body>
</html>