<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
<%- include('../partials/header.ejs') %>

    <main class="form-section">
        <form action="/users/add" method="post" enctype="multipart/form-data">
            <h2 class="form-section__title">Completa los datos para crear una cuenta nueva</h2>
        
            <input type="text" name="firstName" placeholder="Nombre" minlength="3" maxlength="15" required>
            <span class="error errorname">Este campo es obligatorio</span>
        
            <input type="text" name="lastName" placeholder="Apellido" minlength="3" maxlength="20" required>
            <span class="error errorusuario">Este campo es obligatorio</span>
        
            <input type="email" name="email" placeholder="E-mail" required>
            <span class="error erroremail">Usá el formato nombre@ejemplo.com.</span>
            <br>
        
            <p>Elegí tu foto de usuario</p>
            <input type="file" name="image" accept=".jpg,.png">
            <br><br>
        
            <p>Contraseña</p>
            <input type="password" name="password" placeholder="Ingresa tu contraseña" required>
            <span class="errorPasword">Contraseña.</span>

            <!-- <input type="password" name="password" placeholder="Reingresa tu contraseña" required>
            <span class="errorPasword">Contraseña.</span> -->
        
            <input type="text" name="category" placeholder="Categoría">
            <br><br>
        
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
            <br><br>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>