<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <main class="form-section">
                <div class="container">
                    <h2 class="text-center">Eliminar producto</h2>
                    <form action="/products/productdel/:id?_method=delete" method="post">
                        <div class="form-group">
                            <label for="name">Nombre del producto</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Eliminar producto</button>
                    </form>

                </div>
                </section>


                <%- include('../partials/footer.ejs') %>
    </body>

</html>