<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
<%- include('../partials/header.ejs') %>

    <div class="cart-container">
        <div class="cart-item">
            <div class="product-image"></div>
            <div class="product-details">
                <p class="product-name">Nombre del producto</p>
                <p class="product-description">Breve descripción</p>
                <input type="number" class="product-quantity" value="1">
                <p class="product-price">$57,00</p>
                <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
        <div class="cart-item">
            <div class="product-image"></div>
            <div class="product-details">
                <p class="product-name">Nombre del producto</p>
                <p class="product-description">Breve descripción</p>
                <input type="number" class="product-quantity" value="1">
                <p class="product-price">$57,00</p>
                <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
        <div class="total">
            <p>Total a pagar: <span id="total-price">$114,00</span></p>
        </div>
        <button class="checkout-btn">Realizar compra</button>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>

</html>