<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>

            <h1>modificar producto</h1>
            <section>
                <div class="container">
                    <h2 class="text-center">Modificar producto</h2>
                    <form action="/products/update" method="post" enctype="multipart/form-data">
                        <div class="form-group
                <label for=" name">Nombre del producto</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group
                <label for=" description">Descripción</label>
                            <textarea class="form-control" id="description" name="description" required></textarea>
                        </div>
                        <div class="form-group
                <label for=" image">Imagen</label>
                            <input type="file" class="form-control" id="image" name="image" required>
                        </div>
                        <div class="form-group
                <label for=" category">Categoría</label>
                            <select class="form-control" id="category" name="category" required>
                                <option value="1">Cervezas</option>
                                <option value="2">Vinos</option>
                                <option value="3">Espumantes</option>
                                <option value="4">Whiskys</option>
                                <option value="5">Otros</option>
                            </select>   
                        </div>
                        <div class="form-group
                <label for=" colors">Cantidad</label>
                            <input type="text" class="form-control" id="colors" name="colors" required>
                        </div>
                        <div class="form-group
                <label for=" price">Precio</label>
                            <input type="number" class="form-control" id="price" name="price" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Modificar producto</button>
                    </form>
                </div>

            </section>


            <%- include('../partials/footer.ejs') %>
    </body>

</html>