<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
<%- include('../partials/header.ejs') %>
<article class="articles">
    <div class="article">
        <img src="/img/vino-uno.jpg" alt="Vino 1">
        <h3>Vino Tinto Reserva</h3>
        <p>Descripción del Vino Tinto Reserva. Añejo, con sabor robusto y notas de roble.</p>
        <p>$5000</p>
    </div>
    <div class="article">
        <img src="/img/vino-dos.jpg" alt="Vino 2">
        <h3>Vino Tinto Bianchi</h3>
        <p>Descripción del Vino. Fresco, afrutado y con toques de cítricos.</p>
        <p>$5000</p>
    </div>
    <div class="article">
        <img src="/img/vino-tres.jpg" alt="Vino 3">
        <h3>Vino Rosado</h3>
        <p>Descripción del Vino Rosado. Ligero, refrescante y perfecto para el verano.</p>
        <p>$5000</p>
    </div>
    <div class="article">
        <img src="/img/vino-cuatro.jpg" alt="Vino 4">
        <h3>Vino Il Caprone Malbec</h3>
        <p>Gran intensidad de color, profundo de matiz violáceo muy elegante que denota la presencia del Malbec, atractivo y seductor.</p>
        <p>$5000</p>
    </div>
    <div class="article">
        <img src="/img/vino-cinco.jpg" alt="Vino 5">
        <h3>Vino Rosado</h3>
        <p>Descripción del Vino Rosado. Ligero, refrescante y perfecto para el verano.</p>
        <p>$5000</p>
    </div>
    <div class="article">
        <img src="/img/vino-seis.jpg" alt="Vino 6">
        <h3>Vino Bianchi Varietales Malbec</h3>
        <p>Descripción del Vino. Color atractivo con matiz violáceo, típicos de esta variedad joven</p>
        <p>$5000</p>
    </div>
    <div class="article">
        <img src="/img/vino-siete.jpg" alt="Vino 7">
        <h3>Vino </h3>
        <p>Descripción del Vino . Ligero, refrescante y perfecto para el verano.</p>
        <p>$5000</p>
    </div> <div class="article">
        <img src="/img/vino-ocho.jpg" alt="Vino 8">
        <h3>Vino </h3>
        <p>Descripción del Vino . Ligero, refrescante y perfecto para el verano.</p>
        <p>$5000</p>
    </div>
</article>
<%- include('../partials/footer.ejs') %>
</body>

</html>