<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>

        <section>
            <div class="container">
                <h2 class="text-center">Modificar producto</h2>
                <form action="/products/update/:id?_method=put" method="post">

                    <div class="form-group">
                        <label for="name">Nombre del producto</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" id="description" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Imagen</label>
                        <input type="file" class="form-control" id="image" name="image" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Categoría</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="1">Cervezas</option>
                            <option value="2">Vinos</option>
                            <option value="3">Espumantes</option>
                            <option value="4">Whiskys</option>
                            <option value="5">Otros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bodega">Bodega</label>
                        <input type="text" class="form-control" id="bodega" name="bodega" required>
                    </div>
                    <div class="form-group">
                        <label for="varietal">Varietal</label>
                        <select name="varietal" id="varietal">
                            <option value="1">Malbec</option>
                            <option value="2">Cabernet Sauvignon</option>
                            <option value="3">Merlot</option>
                            <option value="4">Syrah</option>
                            <option value="5">Bonarda</option>
                            <option value="6">Chardonnay</option>
                            <option value="7">Sauvignon Blanc</option>
                            <option value="8">Torrontés</option>
                            <option value="9">Otro</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Cargar producto</button>
                </form>
            </div>

        </section>


            <%- include('../partials/footer.ejs') %>
    </body>

</html>