<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
<%- include('../partials/header.ejs') %>

    <section class="articleDetail">

        <img src="img/vino-uno.jpg" alt="Vino 1">
        
        <div class="Detail">
            <h3>Vino Tinto Reserva</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quisquam harum, numquam pariatur hic sed ad mollitia exercitationem amet laudantium doloribus, obcaecati tempore nemo omnis mag</p>
            <p>$5000</p>
     </section>
    </div>
</body>

<%- include('../partials/footer.ejs') %>
</html>